<div class="hero">
    <mat-accordion>
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    horgász egyesület(pl.verseny)
                </mat-panel-title>
                <mat-panel-description>
                    Rendezvények
                </mat-panel-description>
            </mat-expansion-panel-header>

            <p><strong>Komárom</strong>
                <br> 2024. március 23. (szombat)
                <button id="button1" type="button" class="btn btn-outline-primary"><a
                        href="https://www.programturizmus.hu/ajanlat-komarom-horgaszat.html">Részletek</a></button>
                <br> 2900 Komárom , WF Szabadidőpark <br>
                <img src="../../../assets/img/esemenyek/komaromito.jpg" alt="">
                <br> Komáromi horgász programok. Évadnyitó horgászverseny a WF Szabadidőpark
                <br> horgásztaván 2024.március 23-án a WF Szabadidőparkban.
                <br> Nevezési díj: 6.500,-Ft. <br>

            </p>
            <p><strong>Röszke</strong>
                <br> 2024. március 23. (szombat)
                <br> 6758 Röszke , (46.176136 x 20.048933)
                <img src="../../../assets/img/esemenyek/roszke.jpg" alt="">
                <button id="button2" type="button" class="btn btn-outline-primary"><a
                        href="https://www.programturizmus.hu/ajanlat-horgaszverseny-roszke.html">Részletek</a></button>
                <br> A Röszkei Sporthorgász és Természetvédő Egyesület által szervezett horgászversenyek.
            </p>
            <p><strong>Siófok</strong>
                <br> 2024. április 21. (vasárnap) - 2024. április 27. (szombat)
                <br> 8600 Siófok ,

                <br> A világ egyik legnagyobb pontyfogó versenye
                <br> az IBCC Nemzetközi Balatoni Pontyfogó Kupa.
                <br> A verseny nyílt nemzetközi csapatverseny.
                <img src="../../../assets/img/esemenyek/siofok.jpg" alt="">
                <button id="button3" type="button" class="btn btn-outline-primary"><a
                        href="https://www.programturizmus.hu/ajanlat-pontyfogo-kupa.html">Részletek</a></button>
                <br> 2024-ben a rendezvény tervezett időpontja: április 21-27,
                <br> helyszíne Siófok.
            </p>
            <p><strong>Bátonytenyere</strong>
                <br> 2024. április 27. (szombat) - 2024. április 28. (vasárnap)
                <br> 3070 Bátonyterenye , Maconkai-víztározó (47.99437 x 19.849548)
                <br> Megnézem a térképen
                <img src="../../../assets/img/esemenyek/Batonyterenyei.jpg" alt="">
                <button id="button4" type="button" class="btn btn-outline-primary"><a
                        href="https://www.programturizmus.hu/ajanlat-maconkai-viztarozo-horgaszversenyek.html">Részletek</a></button>
                <br> 2024. évi horgászversenyek eseménynaptára
                <br> a maconkai horgászparadicsomban.
            </p>
            <p><strong>Bogács</strong>
                <br> 2024. augusztus 29. (csütörtök)
                <br> 3412 Bogács , Szoros-völgyi víztározó (47.914585 x 20.518908)
                <br>„Halra Fel!” horgászverseny és országos horgásztalálkozó Bogácson,
                <br> a Szoros-völgyi víztározónál 2024. augusztus 29-én. A fürdőváros
                <br> nemcsak az üdülőket és gyógyulni vágyókat várja,
                <img src="../../../assets/img/esemenyek/Bogacs.jpg" alt="">
                <button id="button5" type="button" class="btn btn-outline-primary"><a
                        href="https://www.programturizmus.hu/ajanlat-horgaszverseny-es-horgasztalalkozo-bogacs.html">Részletek</a></button>
                <br> de a horgászat szerelmesei is kiváló programokat találnak itt.
                <br> Ragadja meg horgászbotját és látogasson el Bogácsra, erre a
                <br> kiváló nyárzáró horgászati rendezvényre!
            </p>

        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    horgász tó(amit a Önkormányzatok szerveznek)
                </mat-panel-title>
                <mat-panel-description>
                    Programok
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p><strong>Székesfehérvár</strong>
                <br> 2024. április 20. (szombat) <br>
                <img src="../../../assets/img/esemenyek/szekesfehervari.jpg" alt="">
                <button id="button6" type="button" class="btn btn-outline-primary"><a
                        href="https://www.programturizmus.hu/ajanlat-fehervari-halunnep.html">Részletek</a></button>
                <br>8000 Székesfehérvár , Palotavárosi tavak


                <br>2024-ben kilencedszer várja a vendégeket a Palotavárosi
                <br>tavaknál a város népszerű gasztronómiai eseménye, a Fehérvári Halünnep.
                <br>A főzőversenyt, színpadi és családi programokat kínáló esemény
                <br> 2024. április 20-án, szombaton kerül megrendezésre.
                <br>A nap sztárfellépője az Irigy Hónaljmirigy lesz.
            </p>
            <p><strong>Hortobágyi-halastó</strong>
                <br>Szakvezetéses terepmadarász gyalogtúra a Hortobágy-halastavi tanösvényen.
                <br> A túra során megismerkedhet a terület történetével, sajátosságaival, fontos
                <br> és jellegzetes növény-, és állatfajaival. A kilátogatók a szakvezetéses
                <br> <img src="../../../assets/img/esemenyek/Hortobagyi-halasto.jpeg" alt="">
                <br> gyalogtúrán megismerkedhetnek a terület legfontosabb értékeivel,
                <br> a halastavak élővilágával.
                <button id="button7" type="button" class="btn btn-outline-primary"><a
                        href="https://www.programturizmus.hu/ajanlat-hortobagyi-halasto.html">Részletek</a></button>
                <br> A túra részét képezi a távcsöves madármegfigyelés is, melynek
                <br> során a résztvevők bepillantást nyerhetnek a tavaszi madárvonulás
                <br> mozgalmába. A túra hozzávetőlegesen 10 km hosszú.
                <br> Időjárásnak megfelelő réteges öltözet, kézitávcső ajánlott.

                <br>

            </p>

        </mat-expansion-panel>
    </mat-accordion>
    <div class="szovegdoboz">
        <h1><strong>Események</strong></h1>
        <p>
            <br> A legördülő listából tudnak események közül választani.
            <br> A lista tartalma szemléltető jellegű. Ha több rendezvényre
            <br> is kíváncsiak akkor ezen a linken megtalálják.
        </p>
        <button id="button8" type="button" class="btn btn-outline-primary"><a
                href="https://www.programturizmus.hu/kategoria-horgaszat.html">További Események</a></button>
    </div>
    <!--<div class="kepek">
        <img id="img1" src="../../../assets/img/esemenyek/pécel.jpg" alt="">
        <img id="img2" src="../../../assets/img/esemenyek/etyek.jpg" alt="">
        <img id="img3" src="../../../assets/img/esemenyek/bicske.jpg" alt="">
        <img id="img4" src="../../../assets/img/esemenyek/bia.jpg" alt="">
    </div>-->
</div>