<mat-accordion>
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <u><strong>Békés halfajok</strong> </u>
            </mat-panel-title>
            <mat-panel-description>
                Méretkorlátozás alá eső békés halfajok
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p> <strong> Compó (Tinca tinca) 25cm</strong>

            <br> Fajlagos tilalmi idő: május 02. – június 15.
            <br> Darabszám korlátozással védett (napi max. 3db)
            <br> Egyéb nevei: doktorhal avagy cigányhal.
            <br> A compó hosszúsága átlagosan 20-30, legfeljebb 70 centiméter (7,5 kilogramm tömeggel).
            <br> Őshonos hal
        </p><br>
        <p><strong>Jász-keszeg (Leuciscus idus) 20 cm</strong>

            <br> Fajlagos tilalmi idő: április 15. -május 31.
            <br> A hal testhossza 30-50 centiméter, max 85 centiméter és 4 kilogramm.
            <br> Őshonos halfaj

        </p><br>
        <p>
            <strong>Garda (Pelecus cultratus) 20 cm</strong>

            <br> Fajlagos tilalmi idő: április 15. -május 31.
            <br> Átlagos testhossza 25-35 centiméter, legfeljebb 60 centiméter.
            <br> Őshonos halfajták
        </p><br>
        <p>
            <strong> Kárász (Carassius carassius) 20cm</strong>
            <br> Fajlagos tilalmi idő: március 01. – május 31.
            <br> Természetes vizeken TILOS megtartásuk!
            <br> Testhossza 15-25 centiméter, nagyon ritkán a 30 centiméter
            <br>További magyar elnevezései a karics, a karesz, az aranykárász, a sárga kárász, és a cigánykárász.
            <br>Őshonos halak
        </p> <br>
        <p>
            <strong> Kecsege (Acipenser ruthenus) 50 cm.</strong>

            <br> Fajlagos tilalmi idő: március 01. – május 31.
            <br> Természetes vizeken TILOS megtartásuk!
            <br> Testhossza az 1 métert is elérheti.
            <br> Testtömege 6-7 kilogramm közötti.
            <br> Őshonos halfaj
        </p><br>
        <p>
            <strong>Márna (Barbus barbus) 40 cm.</strong>

            <br> Fajlagos tilalmi idő: május 02. – június 15.
            <br> Darabszám korlátozással védett (napi max. 3db)
            <br> Egyéb nevei: rózsahal, harcsaponty, zsidóhal
            <br> Kifejlett példányai testhossza 40-50 centiméter.
            <br>Tömege 4-5 kilogramm.
            <br> Őshonos halfaj
        </p><br>
        <p>
            <strong>Paduc (Chondrostoma nasus) 20 cm</strong>

            <br> Fajlagos tilalmi idő: április 15. -május 31.
            <br>Egyéb név: vésettajkú paduc
            <br> Átlagos testhossza 25 centiméter,
            <br> de 50 centiméteresre is megnőhet.
            <br> Testtömege 1–1,5 kilogramm között mozog.
            <br> Őshonos
        </p><br>
        <p>
            <strong>Ponty (Cyprinus carpio) 30 cm.</strong>

            <br> Fajlagos tilalmi idő: május 02. -május 31.
            <br> Darabszám korlátozással védett (napi max. 3db)
            <br> A vadponty egyéb elnevezései: nyurgaponty, nádiponty, nyurga, pathal,és pozsár
            <br> A közönséges tőponty kifejlett példánya elérheti az 1,2 méteres hosszúságot és a 40 kg-os tömeget.
            <br> Őshonos halfaj
        </p><br>
        <p>
            <strong>Szilvaorrú keszeg (Vimba vimba) 20 cm</strong>

            <br>Fajlagos tilalmi idő: április 15. -május 31.
            <br> A hal testhossza 20-35 centiméter, legfeljebb 50 centiméter.
            <br>Őshonos hal fajták
        </p>
    </mat-expansion-panel>
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <strong><u>Ragadozó halak</u></strong>
            </mat-panel-title>
            <mat-panel-description>
                Méretkorlátozás alá eső ragadozó fajok
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p><strong>Balin (Aspius aspius) 40 cm.</strong>

            <br> Fajlagos tilalmi idő: március 01. – április 30.
            <br> Darabszám korlátozással védett (napi max. 3db)
            <br> Őshonos hal
        </p><br>
        <p>
            <strong>Csuka (Esox lucius) 40 cm.</strong>

            <br> Fajlagos tilalmi idő: február 01. – március 31.
            <br> Darabszám korlátozással védett (napi max. 3db)
            <br> Őshonos hal
        </p><br>
        <p>
            <strong>Domolykó (Leuciscus cephalus) 25 cm </strong>

            <br> Fajlagos tilalmi idő: április 15. – május 31.
            <br> Őshonos hal
        </p><br>
        <p>
            <strong> Harcsa (Silurus glanis) 60 cm.</strong>

            <br> Fajlagos tilalmi idő: 100 cm alatti példányok, május 02. – június 15.
            <br> Darabszám korlátozással védett (napi max. 3db)
            <br> Őshonos hal
        </p><br>
        <p>
            <strong>Süllő (fogassüllő (Stizostedion lucioperca) 30 cm.)</strong>

            <br> Fajlagos tilalmi idő: március 01. – április 30.
            <br>Darabszám korlátozással védett (napi max. 3db)
            <br>Őshonos hal
        </p><br>
        <p>
            <strong> Kősüllő (Stizostedion volgense) 25 cm.</strong>

            <br> Fajlagos tilalmi idő: március 01. – június 30.
            <br>Darabszám korlátozással védett (napi max. 3db)
            <br> Őshonos hal
        </p><br>
        <p>
            <strong> Menyhal (Lota lota) 25 cm.</strong>

            <br> Darabszám korlátozással védett (napi max. 3db)
            <br>Őshonos hal
        </p><br>
        <p>
            <strong> Sebes pisztráng (Salmo trutta) 22 cm.</strong>

            <br> Fajlagos tilalmi idő: október 01. – március 31.
            <br>Darabszám korlátozással védett (napi max. 3db)
            <br>Őshonos hal
        </p>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <strong><u> Természetvédelmi oltalom alatt álló halfajok</u></strong>
            </mat-panel-title>
            <mat-panel-description>
                Védett halak-büntetés{{panelOpenState ? 'open' : 'closed'}}
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p><strong>Állas küsz (Chalcalburnus chalcoides mento)10000 Ft </strong>
        </p><br>
        <p><strong>Botos kölönte (Cottus gobio) 10000 Ft</strong></p><br>
        <p><strong>Dunai hering (Caspialosa kessleri) 2000 Ft</strong></p><br>
        <p><strong>Cifra kölönte (Cottus poecilophus) 10000 Ft</strong></p><br>
        <p><strong>Fenékjáró küllő (Gobio Gobio) 2000 Ft</strong></p><br>
        <p><strong>Fürge cselle (Phoxinus phoxinus) 2000 Ft</strong></p><br>
        <p><strong>Gyöngyös koncér (Rutilus frisii meidingeri) 2000 Ft</strong></p><br>
        <p><strong>Halványfoltú küllő (Gobio albipinnatus) 10000 Ft</strong></p><br>
        <p><strong>Viza (Huso huso) 10000 Ft</strong></p>
    </mat-expansion-panel>
</mat-accordion>