*{
  margin-top: 10px;

}


  .dropdown-content {
    display: none;
  }

  #toggle:checked + .dropdown-content {
    display: block;
  }
  img {
    float: right; /* vagy right; */
    margin-left: 10px; /* vagy más érték */
    width: 300px;
    height: 100px;
    margin-top: 15px;
}
