<div class="hero">
    <h1>MacskaCápa</h1>
    <mat-accordion>
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <u><strong>Békés halfajok</strong> </u>
                </mat-panel-title>
                <mat-panel-description>
                    Méretkorlátozás alá eső békés halfajok

                </mat-panel-description>
            </mat-expansion-panel-header>
            <p> <strong> Compó (Tinca tinca) 25cm</strong>
                <img src="../../../assets/img/halak/compó.jpg" alt="">
                <br> Fajlagos tilalmi idő: május 02. – június 15.
                <br> Darabszám korlátozással védett (napi max. 3db)
                <br> Egyéb nevei: doktorhal avagy cigányhal.
                <br> A compó hosszúsága átlagosan 20-30,
                <br> legfeljebb 70 centiméter (7,5 kilogramm tömeggel).
                <br> Őshonos hal

            </p><br>
            <p><strong>Jász-keszeg (Leuciscus idus) 20 cm</strong>
                <img src="../../../assets/img/halak/jaszkeszeg.png" alt="">
                <br> Fajlagos tilalmi idő: április 15. -május 31.
                <br> A hal testhossza 30-50 centiméter, max 85 centiméter
                <br> és 4 kilogramm.
                <br> Őshonos halfaj

            </p><br>
            <p>
                <strong>Garda (Pelecus cultratus) 20 cm</strong>
                <img src="../../../assets/img/halak/garda.jpg" alt="">
                <br> Fajlagos tilalmi idő: április 15. -május 31.
                <br> Átlagos testhossza 25-35 centiméter,
                <br>  legfeljebb 60 centiméter.
                <br> Őshonos halfajták
            </p><br>
            <p>
                <strong> Kárász (Carassius carassius) 20cm</strong>
                <img src="../../../assets/img/halak/karasz.jpg" alt="">
                <br> Fajlagos tilalmi idő: március 01. – május 31.
                <br> Természetes vizeken TILOS megtartásuk!
                <br> Testhossza 15-25 centiméter, 
                <br>nagyon ritkán a 30 centiméter
                <br>További magyar elnevezései a karics, 
                <br>a karesz, az aranykárász, a sárga kárász, és a cigánykárász.
                <br>Őshonos halak
            </p> <br>
            <p>
                <strong> Kecsege (Acipenser ruthenus) 50 cm.</strong>
                <img src="../../../assets/img/halak/kecsege.png" alt="">
                <br> Fajlagos tilalmi idő: március 01. – május 31.
                <br> Természetes vizeken TILOS megtartásuk!
                <br> Testhossza az 1 métert is elérheti.
                <br> Testtömege 6-7 kilogramm közötti.
                <br> Őshonos halfaj
            </p><br>
            <p>
                <strong>Márna (Barbus barbus) 40 cm.</strong>
                <img src="../../../assets/img/halak/Petényi-márna.jpg" alt="">
                <br> Fajlagos tilalmi idő: május 02. – június 15.
                <br> Darabszám korlátozással védett (napi max. 3db)
                <br> Egyéb nevei: rózsahal, harcsaponty, zsidóhal
                <br> Kifejlett példányai testhossza 40-50 centiméter.
                <br>Tömege 4-5 kilogramm.
                <br> Őshonos halfaj
            </p><br>
            <p>
                <strong>Paduc (Chondrostoma nasus) 20 cm</strong>
                <img src="../../../assets/img/halak/paduc.jpg" alt="">
                <br> Fajlagos tilalmi idő: április 15. -május 31.
                <br>Egyéb név: vésettajkú paduc
                <br> Átlagos testhossza 25 centiméter,
                <br> de 50 centiméteresre is megnőhet.
                <br> Testtömege 1–1,5 kilogramm között mozog.
                <br> Őshonos
            </p><br>
            <p>
                <strong>Ponty (Cyprinus carpio) 30 cm.</strong>
                <img src="../../../assets/img/halak/ponty.png" alt="">
                <br> Fajlagos tilalmi idő: május 02. -május 31.
                <br> Darabszám korlátozással védett (napi max. 3db)
                <br> A vadponty egyéb elnevezései: nyurgaponty, 
                <br>   nádiponty, nyurga, pathal,és pozsár
                <br> A közönséges tőponty kifejlett példánya elérheti 
                <br>    az 1,2 méteres hosszúságot és a 40 kg-os tömeget.
                <br> Őshonos halfaj
            </p><br>
            <p>
                <strong>Szilvaorrú keszeg (Vimba vimba) 20 cm</strong>
                <img src="../../../assets/img/halak/szilvaorru-keszeg.jpg" alt="">
                <br>Fajlagos tilalmi idő: április 15. -május 31.
                <br> A hal testhossza 20-35 centiméter,
                <br> legfeljebb 50 centiméter.
                <br>Őshonos hal fajták
            </p>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <strong><u>Ragadozó halak</u></strong>
                </mat-panel-title>
                <mat-panel-description>
                    Méretkorlátozás alá eső ragadozó fajok
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p><strong>Balin (Aspius aspius) 40 cm.</strong>
                <img src="../../../assets/img/halak/Balin.jpg" alt="">
                <br> Fajlagos tilalmi idő: március 01. – április 30.
                <br> Darabszám korlátozással védett (napi max. 3db)
                <br> Őshonos hal
            </p><br>
            <p>
                <strong>Csuka (Esox lucius) 40 cm.</strong>
                <img src="../../../assets/img/halak/csuka.png" alt="">
                <br> Fajlagos tilalmi idő: február 01. – március 31.
                <br> Darabszám korlátozással védett (napi max. 3db)
                <br> Őshonos hal
            </p><br>
            <p>
                <strong>Domolykó (Leuciscus cephalus) 25 cm </strong>
                <img src="../../../assets/img/halak/domolyko.jpg" alt="">

                <br> Fajlagos tilalmi idő: április 15. – május 31.
                <br> Őshonos hal
            </p><br>
            <p>
                <strong> Harcsa (Silurus glanis) 60 cm.</strong><br><br>
                <img src="../../../assets/img/halak/harcsa.png" alt="">

                <br> Fajlagos tilalmi idő: 100 cm alatti példányok, május 02. – június 15.
                <br> Darabszám korlátozással védett (napi max. 3db)
                <br> Őshonos hal
            </p><br>
            <p>
                <strong>Süllő (fogassüllő (Stizostedion lucioperca) 30 cm.)</strong>
                <img src="../../../assets/img/halak/süllő.jpg" alt="">
                <br> Fajlagos tilalmi idő: március 01. – április 30.
                <br>Darabszám korlátozással védett (napi max. 3db)
                <br>Őshonos hal
            </p><br>
            <p>
                <strong> Kősüllő (Stizostedion volgense) 25 cm.</strong>
                <img src="../../../assets/img/halak/kősüllő.jpg" alt="">
                <br> Fajlagos tilalmi idő: március 01. – június 30.
                <br>Darabszám korlátozással védett (napi max. 3db)
                <br> Őshonos hal
            </p><br>
            <p>
                <strong> Menyhal (Lota lota) 25 cm.</strong>
                <img src="../../../assets/img/halak/menyhal.jpg" alt="">
                <br> Darabszám korlátozással védett (napi max. 3db)
                <br>Őshonos hal
            </p><br>
            <p>
                <strong> Sebes pisztráng (Salmo trutta) 22 cm.</strong><br>
                <img src="../../../assets/img/halak/sebes_pisztrang.png" alt="">
                <br> Fajlagos tilalmi idő: október 01. – március 31.
                <br>Darabszám korlátozással védett (napi max. 3db)
                <br>Őshonos hal
            </p>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <strong><u> Természetvédelmi oltalom alatt álló halfajok</u></strong>
                </mat-panel-title>
                <mat-panel-description>
                    Védett halak-büntetés{{panelOpenState ? 'open' : 'closed'}}
                </mat-panel-description>
            </mat-expansion-panel-header>
            <br>
            <p><strong>Állas küsz (Chalcalburnus chalcoides mento)10000 Ft </strong>
                <img src="../../../assets/img/halak/allaskusz.jpg" alt="">
                <br> Az állas küsz (Alburnus mento) a sugarasúszójú halak (Actinopterygii) osztályának
                <br> pontyalakúak (Cypriniformes) rendjébe, ezen belül a pontyfélék
                <br> (Cyprinidae) családjába tartozó faj.
            </p>


            <p><strong>Botos kölönte (Cottus gobio) 10000 Ft</strong>
                <img src="../../../assets/img/halak/bontoskölönte.jpg" alt="">
                <br>A botos kölönte a sugarasúszójú halak osztályának skorpióhal-alakúak rendjébe,
                <br> ezen belül a kölöntefélék családjába tartozó típusfaj.
                <br> Neve onnan ered, hogy régebben botra erősített villával
                <br> szigonyozták meg.

            </p>
            <p><strong>Dunai hering (Caspialosa kessleri) 2000 Ft</strong>
                <img src="../../../assets/img/halak/Dunaihering.jpg" alt="">
                <br> A dunai hering vagy kaszpi-tengeri vándorhering (Alosa immaculata)
                <br> a sugarasúszójú halak (Actinopterygii) osztályának heringalakúak
                <br> (Clupeiformes) rendjébe, ezen belül a heringfélék (Clupeidae)
                <br> családjába tartozó faj.
            </p>

            <p><strong>Cifra kölönte (Cottus poecilophus) 10000 Ft</strong>
                <img src="../../../assets/img/halak/Cifra_kölönte.jpg" alt="">
                <br> A cifra kölönte (Cottus poecilopus) a sugarasúszójú halak
                <br>(Actinopterygii) osztályának skorpióhal-alakúak (Scorpaeniformes)
                <br> rendjébe, ezen belül a kölöntefélék (Cottidae) családjába tartozó faj.
            </p>
            <p><strong>Fenékjáró küllő (Gobio Gobio) 2000 Ft</strong>
                <img src="../../../assets/img/halak/fenekjaro.jpg" alt="">
                <br> A fenékjáró küllő a sugarasúszójú halak
                <br> osztályának a pontyalakúak
                <br> rendjébe, ezen belül a pontyfélék
                <br>családjába tartozó faj.
            </p><br>
            <p><strong>Fürge cselle (Phoxinus phoxinus) 2000 Ft</strong>
                <img src="../../../assets/img/halak/fürge_cselle.jpg" alt="">
                <br> A fürge cselle a sugarasúszójú halak osztályának pontyalakúak rendjébe,
                <br> ezen belül a pontyfélék családjába tartozó védett faj.
                <br> A Phoxinus csontoshal-nem típusfaja. Európai viszonylatban
                <br> egyre jobban sebezhető fajnak tartják, hiszen érzékenyen reagál
                <br> a környezeti változásokra.
            </p><br>
            <p><strong>Gyöngyös koncér (Rutilus frisii meidingeri) 2000 Ft</strong>
                <img src="../../../assets/img/halak/gyöngyös_koncér.jpg" alt="">
                <br> A gyöngyös koncér (Rutilus frisii) a sugarasúszójú halak (Actinopterygii)
                <br> osztályának pontyalakúak (Cypriniformes) rendjébe, ezen belül a pontyfélék
                <br> (Cyprinidae) családjába tartozó faj. Népies neve: menyecske koncér.
            </p><br>
            <p><strong>Halványfoltú küllő (Gobio albipinnatus) 10000 Ft</strong>
                <img src="../../../assets/img/halak/halványfoltú_küllő.jpg" alt="">
                <br> A halványfoltú küllő a sugarasúszójú halak osztályának pontyalakúak rendjébe,
                <br> ezen belül a pontyfélék családjába tartozó védett faj. Magyarországon elsősorban
                <br> a ragadozó halak étrendjének bővítése miatt jelentős.
            </p><br>
            <p><strong>Viza (Huso huso) 10000 Ft</strong>
                <img src="../../../assets/img/halak/Viza (Huso huso).jpg" alt="">
                <br> A viza a csontos halak főosztályának a sugarasúszójú halak osztályába,
                <br> ezen belül a tokalakúak rendjébe és a valódi tokfélék családjába tartozó faj.
                <br> A többi tokfélénél jóval nagyobbra növő és sokáig élő halfaj, hiszen életkilátása
                <br> a száz évet is meghaladhatja.
            </p>
        </mat-expansion-panel>
    </mat-accordion>
</div>