<div class="hero">
  <img id="img1" src="../../../assets/img/kornyezetvedelem/environment.jpg" alt="" srcset="">
  <img id="img2" src="../../../assets/img/kornyezetvedelem/environment2.jpg" alt="" srcset="">
  <img id="img3" src="../../../assets/img/kornyezetvedelem/environment5.jpg" alt="" srcset="">
  <img id="" alt="" srcset="">
  <div class="szovegdoboz">


    <h1>Környezetvédelem</h1>
    <p>

      <br> A halászat környezetvédelme létfontosságú az egészséges tengeri ökoszisztémák fenntartásához. Az olyan
      <br> fenntartható gyakorlatok, mint a fogási korlátozások, az élőhelyek védelme és a járulékos fogások csökkentése
      <br> kulcsfontosságúak a túlhalászás megelőzése és a biológiai sokféleség megőrzése szempontjából. A kormányok, a
      <br> halászat, a tudósok és a közösségek közötti együttműködés elengedhetetlen a hatékony szabályozáshoz és a
      védelmi
      <br>erőfeszítésekhez.
    </p>

  </div>
  <div class="szovegdoboz2">
    <p>
      <br> A környezetvédelem a halászat tekintetében egy sokoldalú megközelítést foglal magában, amelynek célja a
      tengeri ökoszisztémák kényes egyensúlyának megőrzése, miközben fenntartja a part menti közösségek megélhetését és
      biztosítja a jövő generációk élelmezésbiztonságát.
       E törekvés lényege, hogy olyan szakpolitikákat és gyakorlatokat
      <br> kell végrehajtani és érvényesíteni, amelyek enyhítik a halászati tevékenységek vízi környezetre gyakorolt
      káros hatásait.

      <br> A halászati ágazaton belül a környezetvédelem egyik fő problémája a túlhalászás. Túlhalászásról akkor
      beszélünk,ha a halállományokat gyorsabban halásszák ki, mint ahogy azok természetes úton képesek pótlódni, ami a halállományok kimerüléséhez vezet.
       A túlhalászás elleni küzdelem érdekében a kormányok és a nemzetközi
      szervezetek
      <br> fogási korlátozásokat és kvótákat állapítanak meg, amelyek szabályozzák az egyes régiókból vagy fajokból
      kifogható
       halak mennyiségét. Ezeket a szabályokat a halállományokra, az ökoszisztéma dinamikájára és a túlhalászás
      lehetséges következményeire vonatkozó tudományos kutatások alapozzák meg.
    </p>
  </div>
</div>