<div class="hero">
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img id="img1" src="../../../assets/img/ivótó.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption ">
          <h5>Tiszta tó</h5>
          <p> Olyan tiszta hogy nemcsak horgászni lehet belőle hanem inni is. </p>
        </div>
      </div>
      <div class="carousel-item">
        <img id="img1" src="../../../assets/img/Szennyezett.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Szennyezett Tó</h5>
          <p>Szegény vízi élőlények meghalnak de főleg a vízipók.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img id="img1" src="../../../assets/img/pelikan.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Pelikán</h5>
          <p>A pelikán megmondja a frankót</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="container">
    <h1>Környezet</h1>
    <p>Az alábbi évszámok a hazai környezetvédelem jelentősebb eseményeit ismertetik*:

      <br>1400-as évek: Luxemburgi Zsigmond a bányászvárosokat érintő heves árvizek és sárlavinák pusztításának,
      valamint az igen nagymértékű talajerózió csökkenése miatt törvényben szabályozta a bányák körüli erdők
      használatát, kitermelését.

      <br> 1700-as évek: Tessedik Sámuel munkásságának köszönhetően az Alföldön jellemző szikesedés és elsivatagosodás
      ellen a homokos talajokat szőlővel, valamint akácfákkal kötötték meg.

      <br> 1802. Gróf Széchenyi Ferenc a nemzetnek ajánlotta fel könyvtárát, hogy ezzel megvesse „egy közmívelődési
      tudományos központ, egy nemzeti könyvtár" alapjait. Később ebből alakult ki a Magyar Természettudományi Múzeum.

      <br> 1840. Törvényben tiltották meg a vizek szennyezését (a vizekről és csatornákról szóló 1840. évi X.
      törvénycikk).

      <br> 1930-as évek: Rendszeressé vált a levegő korom- és kén-dioxid tartalmának mérése Budapesten.

      <br> 1962. Hazánkban létrehozták az első, környezetvédelmi szakfeladatokat ellátó szervet, az Országos
      Természetvédelmi Hivatalt.

      <br> 1964. Megjelent a vízügyről szóló 1964. évi IV. törvény, amely az első szocialista időszakban alkotott
      környezetvédelmi jellegű jogszabály volt.

      <br> 1968. Magyarországon – a világon elsőként – betiltják a DDT tartalmú szerek használatát.
      <br>1973. Megalakult a Hortobágyi Nemzeti Park, hazánk első nemzeti parkja, valamint az Építésügyi és
      Városfejlesztési Minisztérium Területfejlesztési Főosztályán a Környezetvédelmi Osztály.
      <br> 1975. Megalakult az Országos Környezetvédelmi Tanács.

      <br>1976. Kihirdették az első hazai környezetvédelmi vonatkozású törvényt: 1976. évi II. törvény az emberi
      környezet védelméről.

      <br>1977. Magyarországon létrejött az Országos Környezet- és Természetvédelmi Hivatal.

      <br>1980. Magyarország csatlakozott az első, környezetvédelmi célokat megfogalmazó egyezményhez, a Genfi
      Egyezményhez, amely a nagy távolságra jutó, országhatáron átterjedő légszennyezésről szól.

      <br>1981. Megjelent az 56/1981. (XI. 18.) MT rendelet, a veszélyes hulladékok keletkezésének ellenőrzéséről és az
      azok ártalmatlanításával kapcsolatos tevékenységekről, amely az első hulladékgazdálkodási tárgyú jogszabálynak
      tekinthető.

      <br>1988. Megkezdte tevékenységét a Környezetvédelmi és Vízgazdálkodási Minisztérium (KVM), amely az Országos
      Vízügyi Hivatal (OVH) és az Országos Környezet- és Természetvédelmi Hivatal (OKTH) összevonásával jött létre.

      <br>1990. Létrejött a Környezetvédelmi és Területfejlesztési Minisztérium (KTM), az Országgyűlés Környezetvédelmi
      Bizottsága, az Országos Vízügyi Főigazgatóság (OVF), a Környezetvédelmi Főfelügyelőség és a környezetvédelmi
      felügyelőségek. Megalakul a Föld Napja alapítvány, megrendezik hazánkban az első ”Föld napja” eseményt. Megindult
      a TermészetBÚVÁR magazin.

      <br>1991. Először rendezték meg a Környezetvédő Szervezetek Országos Találkozóját.

      <br>1992. Megalakult a Környezetvédelmi Szolgáltatók és Gyártók Szövetsége, 26 cég együttműködése révén.

      <br>1994. Létrehozták a Környezetbarát Termék Kht.-t.

      <br>1995. Hatályba lépett a környezet védelmének általános szabályairól szóló 1995. évi LIII. törvény.

      <br>1996. Hatályba lépett a természet védelméről szóló 1996. évi LIII. törvény. Elindult az Országos Környezeti
      Kármentesítési Program (OKKP), amely elősegítette a hátrahagyott ipari szennyeződések megtisztítását és a
      kármentesítési intézkedések elvégzését.

      <br>1997. Kihirdették az I. Nemzeti Környezetvédelmi Programot.

      <br>1998. A területfejlesztés az agrártárcához került, és létrejött a Környezetvédelmi Minisztérium (KöM).
      Elkészült a Nemzeti Környezeti Nevelési Stratégia.

      <br>1999. Magyarországon megszűnt az ólmozott benzin forgalmazása.

      <br>2000. A nagybányai Aurul bányavállalat által okozott környezetszennyezés során a létesítményből nagy
      mennyiségű cianid- és nehézfémtartalmú szennyvíz került a Lápos folyóba, majd ezen keresztül a Szamosba és a
      Tiszába.

      <br>2002. A Környezetvédelmi Minisztérium jogutódjaként létrejött a Környezetvédelmi és Vízügyi Minisztérium
      (KvVM). Megalapították hazánk legfiatalabb, 10. nemzeti parkját, az Őrségi Nemzeti Parkot. Elindult a Nemzeti
      Agrár-Környezetvédelmi Program (NAKP).

      <br>2003. Kihirdették a II. Nemzeti Környezetvédelmi Programot.

      <br>2004. Hatályba lépett a Natura 2000 hálózattal kapcsolatos szabályozás.

      <br>2006. Kiírják az első "Zöld Óvoda" minősítő cím pályázatot.

      <br>2008. Az Országgyűlés elfogadta az első Nemzeti Éghajlatváltozási Stratégiát.

      <br>2009. Kihirdették a III. Nemzeti Környezetvédelmi Programot. Megszervezték az első ÖKOINDUSTRIA kiállítást. A
      vásár szervezője a Környezetvédelmi Szolgáltatók és Gyártók Szövetsége volt.

      <br>2010. Létrejött az Országgyűlés Fenntartható Fejlődés Bizottsága. A csepeli szennyvíztisztító átadásával
      megszűnt a Dunába áramló nyitott csatornakivezetés Budapesten.

      <br>2010. október 4. Ajkai vörösiszap katasztrófa. Az ajkai timföldgyár Kolontár és Ajka között létesített
      vörösiszap tározójának gátja átszakadt. A kiömlő, több mint egymillió köbméternyi zagy elöntötte Kolontár,
      Devecser és Somlóvásárhely települések mélyebben fekvő részeit.

      <br>2011. Létrejött az Országos Hulladékgazdálkodási Ügynökség. Megszervezték az első TeSzedd akciót. A Kormány a
      1330/2011. (X.12.) Korm. határozattal elfogadja a Kisméretű Szálló Por (PM10) Csökkentés Ágazatközi Intézkedési
      Programját (bővebben ld. Kiemelt szakterületek - Levegőtisztaság-védelem fejezet).

      <br>2012. Létrejött a Nemzeti Környezetvédelmi Intézet (NeKI).

      <br>2013. Jóváhagyták a Nemzeti Fenntarthatósági Fejlődési Keretstratégiát. Elindult a Tisza hulladéktól való
      megtisztítását célzó civil kezdeményezés, a PET Kupa.

      <br>2014. Magyarország először vett részt az Európai Hulladékcsökkentési Héten.

      <br>2015. Kihirdették a IV. Nemzeti Környezetvédelmi Programot. Elindult az OKIR (Országos Környezetvédelmi
      Információs Rendszer), amely integrált rendszerként biztosítja a környezeti adatokhoz történő hozzáférést. Először
      szervezték meg a Fenntarthatósági témahetet az oktatási intézményekben, amelyen 700 iskola 3000 osztályából 60 000
      tanuló vesz részt. Megrendezték az első Nemzetközi Természetfilm Fesztivált. Elkezdődött a „Fűts okosan!” kampány.
      Elindult a Vadonleső, amely meghirdette az „év emlőse” programot: minden évben más és más őshonos emlősállatunkra
      irányítja a figyelmet, elősegítve azok jobb megismerését és hatékonyabb védelmét. Megalakult a Herman Ottó
      Intézet, amelynek feladata a környezet állapotának figyelemmel kísérése volt.

      <br>2016. Létrejött az Életjelek Akció, melynek keretében modern hálózati vetélkedő és tudásmegosztás zajlik a
      területi köznevelési intézmények, illetve az egymást követő évfolyamok között (www.okoiskola.hu).

      <br>2017. Számos kültéri szoborral és installációval megszervezték az első Trash Art Magyarország művészeti
      programot.

      <br>2018. Átadták Magyarország addigi legnagyobb naperőművét, a 20 MW kapacitású, 45 hektárt elfoglaló naperőművet
      Felsőzsolcán (azóta Kaposváron 2021-ben megépült egy 100 MW kapacitású is).

      <br>2018. Az Országgyűlés elfogadta a második Nemzeti Éghajlatváltozási Stratégiát (NÉS–2), amely a 2018-2030-as
      időszakra vonatkozik.

      <br>2019. Elindult a LIFE-IP HungAIRy nevű projekt, amely célja hazánk levegőminőségének javítása, valamint a LIFE
      IP GRASSLAND-HU projekt, melynek célkitűzése a füves élőhelyek és az ezekhez kötődő fajok természetvédelmi
      helyzetének javítása és hosszú távú megőrzése.

      <br>2020. Elfogadásra került 4 újabb klímapolitikai dokumentum: a Nemzeti Energiastratégia 2030; Nemzeti Energia-
      és Klímaterv (NEKT); az Első Éghajlatváltozási Cselekvési Terv; a Jelentés az éghajlatváltozás Kárpát-medencére
      gyakorolt esetleges hatásainak tudományos értékeléséről. Az Országgyűlés elfogadta a klímavédelemről szóló 2020.
      évi XLIV. törvényt.
    </p>
    <button type="button" class="btn btn-outline-primary"><a href="https://környezetvédelem.hu/kornyezetvedelem-jelentosege-celja-es-meghatarozo-esemenyei">További környezetvédelmi érdekességek</a></button>
  </div>
</div>