<div class="container">
    <div class="row g-3">
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <img src="../../../assets/img/cardticket.jpg" class="card-img-top" alt="ticket">
                <div class="card-body">
                  <h5 class="card-title">Jegyek</h5>
                  <p class="card-text">Országos napijegyek</p>
                  <a href="ticket" class="btn btn-primary">Keress</a>
                </div>
              </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <img src="../../../assets/img/shop.jpg" class="card-img-top" alt="shop">
                <div class="card-body">
                  <h5 class="card-title">Horgászboltok</h5>
                  <p class="card-text">Horgászboltok magyarország határain belül.</p>
                  <a href="fishing-shop" class="btn btn-primary">Keress</a>
                </div>
              </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <img src="../../../assets/img/halfajok.jpg" class="card-img-top" alt="halfajok">
                <div class="card-body">
                  <h5 class="card-title">Hal fajták</h5>
                  <p class="card-text">Védett halfajok magyarországon</p>
                  <a href="fish" class="btn btn-primary">Keress</a>
                </div>
              </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <img src="../../../assets/img/kiegészítők.jpg" class="card-img-top" alt="kiegészítők">
                <div class="card-body">
                  <h5 class="card-title">Kiegészítők</h5>
                  <p class="card-text">Csalik,Horgok,Csónakok,és minden ami elképzelhető</p>
                  <a href="additional" class="btn btn-primary">Keress</a>
                </div>
              </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <img src="../../../assets/img/esemenyek.jpg" class="card-img-top" alt="esemenyek">
                <div class="card-body">
                  <h5 class="card-title">Események</h5>
                  <p class="card-text">Horgász egyesületi rendezvények</p>
                  <a href="events" class="btn btn-primary">Keress</a>
                </div>
              </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <img src="../../../assets/img/versenyek.jpg" class="card-img-top" alt="versenyek">
                <div class="card-body">
                  <h5 class="card-title">Versenyek</h5>
                  <p class="card-text">Versenyek/ranglisták</p>
                  <a href="versenyek" class="btn btn-primary">Keress</a>
                </div>
              </div>
        </div>
    </div>
</div>

   