table {
    width: 100%;
    background-color: aquamarine;
  }
  button{
    float: right;
    margin-right: 20px;
  }
  th{
    font-weight: bold;
  }
  a{
    font-weight: bold;
    color: whitesmoke;
  }